<div class="col-md-4">
  <%= link_to "New 'To Do' Element", todos_new_path, class: "btn btn-info" %>
</div>
<div class="col-md-8">
  <h3>To Do List:</h3>
    <% @todos.each do |t|%>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= t.description %>
            <%= link_to "Show", todo_path, class:'btn btn-primary' %>
            <%= link_to "Edit", todo_edit_path, class:'btn btn-secondary' %>
          </li>
        </ul>
      </div>
    <% end %>
</div>