<div class="row mt-5">
  <div class="col-md-4">
    <%= link_to "New 'To Do' Element", todos_new_path, class: "btn btn-info" %>
  </div>
  <div class="col-md-8">
    <h3>To Do List:</h3>
      <% @todos.each do |t|%>
        <div class="card">
          <div class="card-body">
            <%= t %>
          </div>
        </div>
      <% end %>
  </div>
</div>
