<div class="col-md-5">
  <h3>Description:</h3>
  <p><%= @todo.description %></p>
  <h3>Completed:</h3>
  <p>
    <% if @todo.completed %>
      Yes
      <% else %>
      No
    <% end %> 
  </p>
</div>